
.bg {
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Form Styles */
/* ----------------------------------------------------*/
.form-gradient .font-small {
  font-size: 0.8rem;
}

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.sendBtn{
  width:50%;
  margin: 0 auto;
}
  /* Form Styles End -------*/

.tab {
  text-indent: 30px
}

/* h5{
  color:black;
}
h4{
  color: lightslategray;
} */
.dropdown-content li>a, .dropdown-content li>span {
  color: grey;
  font-size: smaller;
}
/* h1.h1.text-center.text-white.text-bold.mx-auto {
  font-variant: all-small-caps;

  font-weight: 900;
} */

.container {
  max-width: 500px!important;
  line-height:1.5;
}

.bg-new{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ce9c9c+0,cc9684+45,cc5d39+100 */
  background: #ce9c9c;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce9c9c', endColorstr='#cc5d39', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: .50rem;
  font-weight: 900;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/264258/pexels-photo-264258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Class Selectors End --------*/

label {
  padding-left: 10px;
}

/**************** main/user feed *********************/
body, html {
  font-family: 'Poppins', sans-serif;
}


#mainContain {
  margin: 0 auto;
}

#rowIndent {
  margin-left: 10%;
}

#userCard {
  margin-left: 10%;
  margin-top:5%;
}

.card-up {
  background-image: url(../img/olga-guryanova-167262-unsplash.jpg);
  background-position-y: 20%;
  background-position-x: 50%;
}

#myPugs {
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#weatherWidget {
 margin-top: 2%;
 margin-left:10%;
}

#weatherWidget > .list-group-horizontal {
  flex-direction: row;
  display: flex;
}

#feedDiv {
  margin-top: -15%;
  margin-left: 10%;
}

#copyRightCard {
  margin-left: 10%; 
  margin-bottom: 20%; 
}

/***************** Media Queries *******************/

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575px) { 
  
  #rowIndent {
    margin-left: 2%;
  }

  #userCard {
    height: 50%;
    width:220%;
    margin-left: 60%;
    margin-top:5%;
    margin-bottom: 2%;
    float: left;
    font-size: 0.5em;
  }

  #userCard > .card-body {
    height:50%;
  }

  #weatherWidget {
    width: 120%;
    height: 50%;
    margin-left: -25%;
    margin-top: 75%;
    float: left;

  }

  #feedDiv {
    margin-top: 4%;
    margin-left: -27%;
    width: 103%;
  }

  #myPugs {
    width: 220%;
    margin-left: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #copyRightCard {
    width: 220%; 
    margin-bottom: 20%; 
    margin-left: 60%;
    float: left;
  } 

 }

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767px) {

  #userCard {
    width:80%;
    height: 100%;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom: 2%;
    float: none;
    font-size: 2em;
  }

  #rowIndent {
    margin-left: 2%;
  }

  #weatherWidget {
    margin-top: 3%;
    margin-left: 2%;
  }

  #feedDiv {
    margin-top: 4%;
    margin-left: 2%;
    width: 70%;
    }

    #myPugs {
      width: 80%;
      margin-left: 10%;
      margin-top: 10%;
      margin-bottom: 10%;
    }
  
    #copyRightCard {
      width: 80%; 
      margin-bottom: 20%; 
      margin-left: 10%;
      float: none;
    } 

 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991px) {

  #rowIndent {
    margin-left: 5%;
  }
  
  #userCard {
    width:80%;
    height: 100%;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom: 2%;
    float: none;
    font-size: 2em;
  }

  #weatherWidget {
    margin-top: 3%;
    margin-left: 5%;
  }

  #feedDiv {
    margin-top: 4%;
    margin-left: 5%;
    width: 80%;
  }

  #myPugs {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #copyRightCard {
    width: 80%; 
    margin-bottom: 20%; 
    margin-left: 10%;
    float: none;
  } 
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199px) {

  #userCard {
    width:80%;
    height: 100%;
    margin-left: 10%;
    margin-top:5%;
    margin-bottom: 2%;
    float: none;
    font-size: 2em;
  }

  #weatherWidget {
    margin-top: 2%;
    margin-left:2%;
    float: none;
  }

  #feedDiv {
   margin-top: 2%;
   margin-left: 2%;
   width: 90%;
   float: none;
  }

  #myPugs {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #copyRightCard {
    width: 80%; 
    margin-bottom: 20%; 
    margin-left: 10%;
    float: none;
  } 

 }





