
.bg {
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Form Styles */
/* ----------------------------------------------------*/
.form-gradient .font-small {
  font-size: 0.8rem;
}

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.sendBtn{
  width:50%;
  margin: 0 auto;
}
  /* Form Styles End -------*/

.tab {
  text-indent: 30px
}

/* h5{
  color:black;
}
h4{
  color: lightslategray;
} */
.dropdown-content li>a, .dropdown-content li>span {
  color: grey;
  font-size: smaller;
}
/* h1.h1.text-center.text-white.text-bold.mx-auto {
  font-variant: all-small-caps;

  font-weight: 900;
} */

.container {
  max-width: 500px!important;
  line-height:1.5;
}

.bg-new{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ce9c9c+0,cc9684+45,cc5d39+100 */
  background: #ce9c9c;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ce9c9c 0%, #cc9684 45%, #cc5d39 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce9c9c', endColorstr='#cc5d39', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: .50rem;
  font-weight: 900;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/264258/pexels-photo-264258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Class Selectors End --------*/

label {
  padding-left: 10px;
}

/**************** main feed *********************/
body, html {
  height: 100%;
}

#userCard {
  margin-left: 5%;
  margin-top:5%;
}

.card-up {
  background-image: url(../img/olga-guryanova-167262-unsplash.jpg);
  background-position-y: 20%;
  background-position-x: 50%;
}

#myPugs {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#weatherWidget {
 margin-top: 2%;
 margin-left:22%;
}

#weatherWidget > .list-group-horizontal {
  flex-direction: row;
  display: flex;
}

#feedDiv {
  margin-top: -15%;
  margin-left: 20%;
}

.bg-main {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
